body {
    background-color: white;
}

.page {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.page-home {
    h1 {
        color: #222222;
        text-transform: uppercase;
    }
    p {
        color: #333333;
    }
}